@import url('https://fonts.cdnfonts.com/css/inter');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#root {
    display: grid;
    height: 100%;
    grid-template-columns: 4fr 2fr;
}

@media screen {
    @media (max-height: 230px)  {
        body {
            font-size: 14px;
        }
    }

    @media (max-width: 410px) {
        body {
            font-size: 10px;
        }
    }
}